.leader-board-menu {
    width: 100%;
    height: 5rem;
    background-color: #ffbf2c ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    box-sizing: border-box;
    .left-icon {
        width: 1.2rem;
        height: 1.8rem;
        cursor: pointer;
    }
    .crown-icon-area {
        display: flex;
        align-items: center;
        font-size: 2.2rem;
        color: #fff;
        font-family: "Fredoka";
        font-weight: bolder;
        .clock-icon {
            width: 2.6rem;
            height: 2rem;
            margin-left: 0.8rem;
        }
    }
    .rocket-icon {
        height: 100%;
    }
}