.questionEnd-viewer {
    width: 100%;
    height: 100vh;
		background-image:url("../../assets/home/home_bgc.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.center-area {
			width: 40rem;
			height: 40rem;
			background-image:url("../../assets/home/background_white.png");
			background-size: 100% 100%;
			background-repeat: no-repeat;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			.right-top-icon {
				width: 7rem;
				height: 6rem;
				position: absolute;
				top: 0;
				right: 0;
			}
			.center-word {
				width: 40rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				.center-top {
					display: flex;
					align-items: center;
					.area-title {
						font-size: 5rem;
						color: #39bc70;
						font-weight: bolder;
						margin: 0 1.5rem;
						font-family: "Fredoka";
					}
				}
				.area-subtitle {
					font-size: 2rem;
					color: #333333;
					margin-bottom: 0.5rem;
					font-family: "Roboto";
					font-weight: bold;
				}
				.score-num {
					font-size: 5rem;
					color: #2291d7;
					font-weight: bold;
					// font-family: "Fredoka";
				}
				.score-detail {
					display: flex;
					flex-direction: column;
					align-items: center;
					font-size: 1.2rem;
					font-family: "Roboto";
					color: "#333333";
					.score-detail-tit {
						font-size: 1.4rem;
						font-weight: bold;
						margin-top: 0.5rem;
					}
					.blue {
						color: #2282c5;
					}
				}
				.btn-area {
					display: flex;
					div {
						width: 10rem;
						height: 3rem;
						background-image:url("../../assets/contentPage/btn_bgc.png");
						background-size: 101% 100%;
						background-repeat: no-repeat;
						text-align: center;
						line-height: 3rem;
						font-size: 1.2rem;
						color: #333333;
						font-weight: bolder;
						cursor: pointer;
						border-radius: 0.8rem;
						position: relative;
						font-family: "Fredoka";
						margin: 3rem 0.4rem 0;
						&:hover{
							background-image:url("../../assets/contentPage/btn_bgc_active.png");
							color: #fff;
							box-shadow: -1px 1px 13px -1px rgba(42,40,40,0.5);
							transition: all 0.3s;
						}
					}
				}
				
			}
		}
}